
html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(31, 31, 31) ;
}
body{
  background-color:rgb(31, 31, 31);
}

/*----------------------- SECCION FUENTES--------------------------- */

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Medium.ttf);
  font-weight: 700;
  font-style:normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
  font-weight: 800;
  font-style:normal;
}
@font-face{
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Italic.ttf);
  font-weight:400;
  font-style: italic; 
}

/* ------------------------FIN DE SECCION DE FUENTES-------------*/

/*------------------------SECCION ANIMACIONES----------------------*/

@keyframes desaparecer{
  0%{
    display: block;
    opacity: 1;

  }
  50%{
    display: block;
    opacity: 0.5;

  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes aparecer{
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
    opacity: 0.5;
  }
  100%{
    display: block;
    opacity: 1;
  }
}








/*------------------------FIN DE SECCION DE ANIMACIONES-------------*/

/*----------------------- SECCION ESTILOS PAGINA PRINCIPAL--------------------------- */


    a{
      text-decoration: none;
    }

    .estructuraPrincipal {
        display: grid;  
        grid-template-rows: 300px 100px 2fr 2fr 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 100%;
    }


 /* ESTILOS PARA EL CONTENIDO DE HEADER */


  .header {

        /* configuracion del grid */
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        /*------------------------*/

        padding: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  }

  .header::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: url(../img/fondos/fondoOp2.jpeg) fixed;
          filter: grayscale(100%) blur(3px);
          width: 100%;
          height: 100%;
          z-index: -10;
  }

      .fnc{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        color: rgb(228, 3, 61);
        font-size: 100px;
      }

  .n{
      color: white;
      z-index: -5;
      position: absolute;
      font-size: 300px;
  }
  .header h1{
      letter-spacing: 10px;
      margin: 10px;
      font-family:'montserrat';
      font-weight: bold;
      font-style: bold;
      z-index: -1;
  }

  .header h2{
      margin: 30px;
      font-size: 25px;
      width: 100%;
      color: rgb(255, 255, 255);
      text-align: center;
      font-family:'montserrat';
      font-weight: 700;
      font-style: normal;
      background: rgb(0, 0, 0,0.8) ;
      box-shadow: 5px 5px 5px 5px black;

    }


/* FIN DE: ESTILOS PARA EL CONTENIDO DE HEADER */

 



/* ESTILOS PARA EL CONTENIDO DE bNavegacion */

  .bNavegacion {

        /* configuracion del grid */
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 6;
        /*------------------------*/

      width: 100%;
        height: 100%;
      position: sticky;
      top: 0;
      z-index: 10;
      box-shadow: 5px 5px 5px 5px;
      background: url(../img/fondos/fondoOp2.jpeg) fixed;
      border: 2px solid black;
      align-content: center;
      display: flex;
      justify-content: center;
      align-items: center;

  }
  
  .bNavegacion::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgb(255, 0, 67,0.3) ;
  }


 nav ul {
    display: flex;
    align-self:center;
  }
  nav ul li {
    list-style: none;
    position: relative;
    padding: 5px;
  }
  nav ul li a {
    font-family: 'montserrat';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    padding: 15px;
    line-height: 5rem;
    color: white;
    text-decoration: none;
  }
  .despegable ul {
    display: none;
    position: absolute;
    width: 100%;
  }
  .links ul li:hover ul {
    display: block;
  }
  .despegable ul li {
    width: 100%;
  }
  .despegable ul li a {
    padding: 10px;
    line-height: unset;
    white-space: nowrap;
    width: 100%;
  }
  .despegable:hover {
    transform: scale(1.02);
    z-index: 4;
    transition: all 0.2s;
    box-shadow: 2px 2px 2px 2px rgb(31, 31, 31, 0.6);
    background: rgb(0, 0, 0, 0.3);
  } 


/* FIN DE: ESTILOS PARA EL CONTENIDO DE bNavegacion */






/* ESTILOS PARA EL CONTENIDO DE cuerpo */

  .cuerpo {
    
      /* configuracion del grid */
      grid-row-start: 3;
      grid-column-start: 1;
      grid-row-end: 5;
      grid-column-end: 6;
      row-gap: 10px;
      /*------------------------*/

      position: relative;
      display: grid;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 300px;
  }
  
  .cuerpo::before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -10;
    filter: blur(4px) saturate(0.7);

    background: url(../img/fondos/fondoOp2.jpeg) fixed;
  }
  .espacioFondo{
    background-color: rgb(0, 0, 0,0.5);
    margin: 5px;

  }
  h4{
    text-align: center;
    font-family:'montserrat';
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color:white;
  }
  .separador{
    padding: 5px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0,0.8);
  }

  .espacioCine{
    display: flex;
  }
  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .slider ul {
    padding: 0%;
    display: flex;
    width: 600%;
    text-align: center;
    border-bottom: 10px;

    animation: cambio 20s infinite;
    animation-direction: alternate;
  }

  .slider li {
    width: 100%;
    list-style: none;
  }

  .slider img {
    object-fit: fill;
    width: 50%;
    height: 100%;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
  
  }
  li{
    list-style: none;
  }

  @keyframes cambio {
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -100%;}
    70% {margin-left: -200%;}

    75% {margin-left: -200%;}
    100% {margin-left: -200%;}

  }

  .textoDescriptivo{
      background-color: rgb(0, 0, 0,0.5);
      width: 100%;

  }


  .cuerpo .espacioTopPeliculas{
      display: flex;
      justify-content:center; 
      align-items:center; 
      flex-direction: row; 
      flex-wrap: nowrap; 
      align-content: flex-start;
      flex-grow: 0;
      position: relative;
      width: 100%;
      height: 100%;
  }
  .cuerpo .espacioTopPeliculas::before{
    display: flex;
    justify-content:center; 
    align-items:flex-start; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: flex-start;
    flex-grow: 0;
    position: relative;
  }


  .espacioTopPeliculas  div{
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      position: relative;
  }

  .espacioTopPeliculas > :nth-child(odd){
    width: 100%;
    height: 100%;
    position: relative;
    top: 150px;
    left: 50px;
    z-index: 2;
  }
  .espacioTopPeliculas > :nth-child(even){
    height: 100%;
    width: 100%;
    padding: 40px;
  }

  .espacioTopPeliculas  div img{
      object-fit: fill;
      width: 100%;
      height: 85%;
      box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
  }

  .cuerpo h1{
      color:white ;
      text-align: center;
      font-size: 40px;
      font-family:'montserrat';
      font-weight: 800;
      font-style: normal;
  }

/* FIN DE: ESTILOS PARA EL CONTENIDO DE bNavegacion */



/*ESTILOS PARA EL CONTENIDO DE FOOTER*/

  .piePagina {
      background-color: rgb(19, 19, 19); 
      grid-row-start: 5;
      grid-column-start: 1;
      grid-row-end: 6;
      grid-column-end: 6;
      position: relative;
      display: flex;
      justify-content:center;
      width: 100%;
      height: 100%;
  }
  .piePagina section{
    margin: 30px;
  }

  .cc{
    width: 200px;
    margin: 0;
    height: auto;
  }

  .piePagina ul{
    list-style: none;
  }

  h5{
    font-family: 'montserrat';
    font-weight:400 ;
    font-style: italic;
  }

  .piePagina a{
    color: rgb(255, 255, 255,0.5);
  }
  .piePagina a:hover{
    color: rgb(255, 255, 255,1);
    transition: 50ms;
  }
  .piePagina section img{
    object-fit: fill;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0,0.8);
  }
  .iconosSocial{
    width: 50px;
  }

/*FIN DE LOS ESTILOS PARA EL CONTENIDO DE FOOTER*/




/*------------------FIN DE LOS ESTILOS PARA EL CONTENIDO DE LA PÁGINA PRINCIPAL-----------------------------*/





/*------------------ SECCION ESTILOS PAGINAS PELICULAS,DIRECTORES,PRODUCTORES,ACTORES-------------------- */

  .estructuraPDPA {
    display: grid;  
    grid-template-rows:200px 100px ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
  }

  /*ESTILOS PARA EL CONTENIDO DE headerPDPA*/

    .headerPDPA {

      /* configuracion del grid */
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 6;
      /*------------------------*/

      padding: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .headerPDPA::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: url(../img/fondos/fondoOp2.jpeg) fixed;
        filter: grayscale(100%) blur(3px);
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    .fncPDPA{
    display: flex;
    justify-content: left;
    flex-direction: row; 
    color: rgb(228, 3, 61);
    filter: blur(1px);
    font-size: 100px;
    }

    .nPDPA{
    color: white;
    z-index: -5;
    position: absolute;
    font-size: 150px;
    left: 0.3em;
    }

    .headerPDPA h1{
    letter-spacing: 10px;
    margin: 10px;
    font-family:'montserrat';
    font-weight: bold;
    font-style: bold;
    z-index: -1;
    }

    .headerPDPA h2{
      margin: 30px;
      font-size: 25px;
      width: 100%;
      color: rgb(255, 255, 255);;
      text-align: center;
      font-family:'montserrat';
      font-weight: 700;
      font-style: normal;
      background: rgb(0,0,0,0.5) ;
      box-shadow: 5px 5px 5px 5px black;
    }

  /*FIN DE LOS ESTILOS PARA EL CONTENIDO DE headerPDPA*/

  .cuerpoPDPA{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    
    grid-template-columns: 4fr;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: start;
    grid-auto-flow: row; 
    margin: auto;
    gap: 15px;
  }
.gridPeliculas{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .filtros{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 35px 10px;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
  }

  .filtros *{
    margin:5px ;
  }
  .masFiltros{
    cursor: pointer;
    transition: 2s;
  }
  .menosFiltros{
    display: none;
    cursor: pointer;
    transition: 2s;
  }
  .filtrosBasicos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;

  }

  .filtrosBasicosRemove{
    display: none;
  }
  .filtrosAvanzadosRemove{
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .filtros h5{
    font-size: 30px;
    font-family:'montserrat';
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: white;
  }
  #botonGeneros{
    position: relative;
    color: black;
  }
  #botonGeneros::after{
    position: absolute;
    content: "Click para mostrar / ocultar";
    font-size: 10px;
    color: black;
    text-align: center;
    right:0;
    bottom: 0;
    left: 0;
  }
  #botonGeneros:hover::after{
    content: "";
  }

  
  .filtros h2{
    font-size: 25px;
    font-family:'montserrat';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background: rgb(255, 255, 255,0.5);
    padding: 10px;
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 27px;
  }
  .filtros h2:hover{
    animation: 1s breath linear 1 normal none;
  }

  .filtrosAvanzados{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
  }
  .generoContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
  }
  
  .listaGeneros li{
    opacity: 1;
    font-size: 15px;
    font-family:'montserrat';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
    background: rgb(255, 255, 255,0.5) ;
    width: 100%;
    cursor: pointer;
  }
  .listaGeneros li:hover{
    animation: 1s breath linear 1  normal none ;
  }

  @keyframes breath {
		0% {
			transform:translate(0);
		}
		10% {
			transform:translate(-2px,-2px);
		}
		20% {
			transform:translate(2px,-2px);
		}
		30% {
			transform:translate(-2px,2px);
		}
		40% {
			transform:translate(2px,2px);
		}
		50% {
			transform:translate(-2px,-2px);
		}
		60% {
			transform:translate(2px,-2px);
		}
		70% {
			transform:translate(-2px,2px);
		}
		80% {
			transform:translate(-2px,-2px);
		}
		90% {
			transform:translate(2px,-2px);
		}
		100% {
			transform:translate(0);
		}
	}

  .listaGeneros{
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 
  .listaGenerosDesglose{
    animation: 3s desglose ease-in forwards ;
  }
  .listaGenerosEnglosar{
    animation: 3s englosar ease-out forwards ;

  }

  @keyframes desglose{
    0%{
      transform: translateX(0);
      transform: translateY(-1500px);
      opacity: 0;
    }
    25%{
      transform:translateY(-600px) ;
      opacity: 0.1;
    }
    50%{
      transform: translateY(-400px);
      opacity: 0.3;
    }
    75%{
      transform: translateY(-100px);
      opacity: 0.6;
    }
    100%{
      transform: translateY(0px);
      opacity: 0.8;
    }
  }
  @keyframes englosar{
    0%{
      transform: translateX(0);
      transform: translateY(0px);
      opacity: 0.8;
    }
    25%{
      transform:translateY(-300px) ;
      opacity: 0.6;
    }
    50%{
      transform: translateY(-600px);
      opacity: 0.3;
    }
    75%{
      transform: translateY(-800px);
      opacity: 0.1;
    }
    100%{
      transform: translateY(-1500px);
      opacity: 0;
    }
  }
    
  .generoContainer h5{
    padding: 20px;
    background: rgb(255, 255, 255,0.5) ;
    overflow: hidden;
    cursor: pointer;

  }
  input{
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-family:'montserrat';
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 5px;
  }

 
.contenedorPeliculas {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: 2s;
}

.contenedorPeliculas:hover::after{
  transition: 2s;
  opacity: 0;
}

.animacionFlip{
  transform: rotateY(180deg);
  transition: 2s;

}
.animacionDefault{
  transform: rotateY(0deg);
  transition: 2s;
}
.animacionDefault::after{
  color: white;
  content: "Ponga el raton sobre la tarjeta para ver la calificacion";
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0,0.7);
  bottom: 50px;
  font-family: 'montserrat';
  font-size: 400;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  opacity: 1;
}
.animacionDefault:hover::after{
  transition: 1s;
  opacity: 0;
}

.animacionDefault .overlayFlip{
  display: none;
  transition: 2s;
}
.animacionDefault .imgPeliculaActive{
  display: block;
  animation: 2s aparecer linear normal ;
}

.animacionDefault .imgPeliculaDetras{
  backface-visibility: hidden;
  animation: 0.5s desaparecer linear forwards;
}
.animacionFlip::after{
  color: white;
  content: "Ponga el raton sobre la tarjeta para ver información";
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0,0.7);
  bottom: 50px;
  font-family: 'montserrat';
  font-size: 400;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  opacity: 1;
  transform: rotateY(180deg);
}

.animacionFlip:hover::after{
  transition: 1s;
  opacity: 0;
}

.animacionFlip .overlayDefault{
  display: none;
  opacity: 0;
  transition: 2s;
}
.animacionFlip .imgPeliculaActive{
  backface-visibility: hidden;
 animation: 0.5s desaparecer linear forwards;
}
.animacionFlip .imgPeliculaDetras{
  opacity: 1;
  animation: 1s aparecer linear normal ;
}


@keyframes aparecer{
  0%{
    display: block;
    opacity: 0;
  }
  50%{
    display: block;
    opacity: 0.5;
  }
  100%{
    display: block;
    opacity: 1;
  }

}
@keyframes desaparecer{
  0%{
    display:block;
    opacity: 1;
  }
  50%{
    display: block;
    opacity: 0.5;
  }
  100%{
    display: none;
    opacity: 0;
  }
}


.imgPeliculaFrontal {
  position: absolute;
  display: block;
    object-fit: fill;
    width: 100%;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
    transition: opacity 0.3s ease-in-out;
}

.imgPeliculaDetras{
  display: block;
  position: absolute;
  object-fit: fill;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
  transition: opacity 0.3s ease-in-out;
}
.imgPelicula{
  width: 100%;
  height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}

.overlayDefault{
  transition: 4s;
  transform: rotateY(0deg);
}

.overlayFlip{
  transition: 4s;
  transform: rotateY(180deg);
}

.contenedorPeliculas:hover .overlay {
  transition: 2s;
  background-color: rgb(31, 31, 31,0.5);
}

.contenedorPeliculas:hover .overlay  *{
  transition: 2s;
  opacity: 1;
}
.contenedorPeliculas:hover .imgPeliculaActive {
  transition: 2s;
  opacity: 1;
  filter: blur(5px) grayscale(90%);
}
.contenedorPeliculas:hover .imgPeliculaActive {
  transition: 2s;
  opacity: 1;
}


.overlayFlip{
  position: absolute;
  transition: 2s;
  opacity: 0;
}

.contenedorPeliculas h1{
  color: white;
  font-size: 35px;
  font-family:'montserrat';
  font-weight:bold;
  font-style: bold;
  text-align: center;
  margin: 10px;
  position: relative;
  opacity: 0;
}
.contenedorPeliculas h2{
  color: white;
  font-size: 25px;
  font-family:'montserrat';
  font-weight:bold;
  font-style: normal;
  text-align: center;
  margin: 10px;
  position: relative;
  opacity: 0;
}
.contenedorPeliculas p{
  color: white;
  font-size: 12px;
  font-family:'montserrat';
  font-weight:400;
  font-style: normal;
  opacity: 0;
  margin: 5px;
  word-spacing: 2px;
}
.contenedorPeliculas h3{
  color: white;
  font-size: 12px;
  font-family:'montserrat';
  font-weight:700;
  font-style: normal;
  opacity: 0;
  margin: 5px;
  word-spacing: 2px;
}
.contenedorPeliculas h4{
  text-align: center;
  font-family:'montserrat';
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color:white;
  opacity: 0;
}
.contenedorEstrellas{
  display: flex;
}
.estrellas{
  width: 100%;
  height: 100%;
}
.rating {
  display: flex;
  font-size: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}
.contenedorStars{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  opacity: 0;
}

.star {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../img/iconos/starVacia.png');
  background-size: cover;
  cursor: pointer;
}

.star:hover,
.star.active {
  background-image: url('../img/iconos/starllena.png');
}

/*------------------ SECCION ESTILOS DIRECTORES-------------------- */
.gridDirectores{
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contenedorDirectores {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 2s;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.5);

}


/*POSICION FRONTAL */
.contenedorDirectores img{
  width: 100%;
  height: 100%;
}
.posicionFrontal{
  position: relative;
  transition: 1s;
}
.posicionFrontal::before{
  content: "Ponga el raton sobre la tarjeta para ver la informacion";
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0,0.7);
  bottom: 50px;
  font-family: 'montserrat';
  font-size: 400;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  transition: 1s;
}
.contenedorDirectores:hover .imagenFrontal{
  transition: 1s;
  filter: blur(10px) grayscale(70%);
}
/*----------------------------------------------------------------*/

/*POSICION CARTA */
.posicionCarta{
  opacity: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr  ;
  grid-template-columns: 1fr 1fr;
  top: 0;
  position: absolute;
}
.informacionDirector{
  text-align: center;
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
  display: grid;
  grid-template-columns:auto;
  grid-template-rows:100px 1fr;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.col2{
  grid-column-start:1 ;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:2;
}
.col3{
  grid-column-start:2 ;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:2;
}
.posicionCarta h1{
  font-size: 30px;
  font-family:'montserrat';
  font-weight:bold;
  font-style: bold;
  color: white;
  grid-column-start:1 ;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
  display: flex;
  text-align: center;
}
.posicionCarta h2{
  font-size: 25px;
  font-family:'montserrat';
  font-weight:400;
  font-style: italic;
  color: white;
}
.posicionCarta p{
  color: white;
  font-size: 15px;
  font-family:'montserrat';
  font-weight:400;
  font-style: normal;
  margin: 5px;
  word-spacing: 2px;

}
.posicionCarta:hover{
  background: rgb(0, 0, 0,0.5);
  opacity: 1;
  transition: 2s;
}

/*----------------------------------------------------------------*/







/*------------------ FIN SECCION ESTILOS DIRECTORES-------------------- */

/*------------------ FIN SECCION ESTILOS PAGINAS PELICULAS,DIRECTORES,PRODUCTORES,ACTORES-------------------- */



/*ESTILOS PARA LA PAGINA DE PREMIOS */
.estructuraPremios{
  display: grid;
  position: relative;
  overflow: hidden;
}
.bNavegacionPremios {
  /* configuracion del grid */
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  /*------------------------*/
position: sticky;
z-index: 10;
box-shadow: 5px 5px 5px 5px;
border: 2px solid black;
align-content: center;
display: none;
}

.bNavegacionPremios nav ul{
  display: flex;
  align-self:flex-start;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.bNavegacionPremios ul li {
  list-style: none;
  position: relative;
  padding: 5px;
} 
.bNavegacionPremios nav ul li a {
  font-family: 'montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  padding: 15px;
  line-height: 5rem;
  color: white;
  text-decoration: none;
}
.bNavegacionPremios .despegable ul {
  display: none;
  position: absolute;
  width: 100%;
}
.bNavegacionPremios .links ul li:hover ul {
  display: block;
}
.bNavegacionPremios .despegable ul li {
  width: 100%;
}
.bNavegacionPremios .despegable ul li a {
  padding: 10px;
  line-height: unset;
  white-space: nowrap;
  width: 100%;
}
.bNavegacionPremios .despegable:hover {
  transform: scale(1.02);
  z-index: 4;
  transition: all 0.2s;
  box-shadow: 2px 2px 2px 2px rgb(31, 31, 31, 0.6);
  background: rgb(0, 0, 0, 0.3);
}

.contenedorPremios{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contenedorPremios::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -5;
  filter: saturate(50%) blur(5px)}

.contenedorPremios section{
  display: flex;
  margin: 50px;
  width:1520px;
  height: 950px;
  overflow: hidden;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  overflow: hidden;
  z-index: -10;
}
.fondo{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  transition: 1s ease;
  box-shadow: 20px 20px 20px black;
  filter: grayscale(80%);
  position: relative;
  overflow: hidden;
  
}

.contenedorPremios section .fondo:hover{
  cursor: pointer;
  width: 350px;
  opacity: 1;
  filter: contrast(120%) grayscale(0%) saturate(150%);
  scale: 1.2;
}
.tituloPremio{
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 50px;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  filter: drop-shadow(20px 10px 10px black);
}
.tituloPremio:hover{
  opacity: 0;
  transition: 0.5s linear;
  transform:translateY(100px);
}
#fondoGoya{
  position: absolute;
  width: 100%;
  height: 100%;
}
#fondoOscars{
  width: 100%;
  height: 100%;
}
#fondoGlobos{
  width: 100%;
  height: 100%;
}

.fondoActivado{
  animation: 4s desaparecerfondo linear normal forwards;
}
.zoomFondo{
  animation: 4s zoomFondo linear normal forwards;
}
.zoomFondoDesaparecer{
  opacity: 0;
  transition: 1s linear;
}
.aparicionEscenario{
  animation: escenario 3s ease-in normal forwards; ;
}
.contenedorGoya{
  display: none;
  position: absolute;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contenedorOscars{
  display: none;
  position: absolute;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contenedorTraduccion{
  position: relative;
  background-color: rgb(0, 0, 0,0.5);
  text-align: center;
  top:6em;
  width: 900px;
  overflow:auto;
}
.tituloTraduccion{
  font-family: 'montserrat';
  font-style:normal;
  font-weight: bold;
  font-size:40px;
  text-align: center;
}
.traduccion{
  font-family: 'montserrat';
  font-style: normal;
  font-size: 20px;
  color: white;
}
.contenedorGlobos{
  display: none;
  position: absolute;

}
@keyframes zoomFondo {
  0%{
    transform: scale(1);
}
100%{
    filter: blur(0px);
    transform: scale(2.5);
    object-position: bottom 100px;
} 
}

@keyframes escenario {
  0%{
    opacity: 0;

  }
  50%{
    opacity: 0.5;
    transform: perspective(200px)
  }
  100%{
    opacity: 1;
    transform: perspective(0px)
  }
  
}
@keyframes desaparecerfondo{
  0%{
    scale: 1;
    opacity: 1;
  }
  25%{
    scale: 0.8;
    opacity: 0.5;
    transform: perspective(200px) rotateX(5deg) translateY(50px);
  }
  50%{
    scale: 0.5;
    opacity: 0.3;
    transform: perspective(400px) rotateX(10deg) translateY(100px);
  }
  100%{
    scale: 0;
    opacity: 0.1;
  }

}




/*------------------ FIN DE LOS ESTILOS PAGINAS PELICULAS,DIRECTORES,PRODUCTORES,ACTORES-------------------- */


/*------------------ COMIENZO DE CONTACTO --------------------*/

.estructuraPrincipalContacto {
  display: grid;  
  grid-template-rows: 300px 100px 2fr 2fr 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  height: 100%;
}
.intro {
  grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
  grid-row: 1 ; /* Intro en la primera fila */
  font-family: "montserrat"

}
.intro p {
  color: white;
  text-align: center;
}
.intro h1{
  color: rgb(247, 102, 6);
  text-align: center;
}
.slider{
  display: flex;
  width: 600px;
  height: 430px;
}
.slider img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.slider img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.empleadosSeccion {
  display: grid;
  grid-auto-rows: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.5fr); 
  grid-auto-flow: dense;

}

.empleado {
  margin: 50px;
  grid-column: auto; 
  grid-row: 2 / 3; 
}

.empleado > img {
  width: 100%; 
   
}


.empleado p {
  font-family: "montserrat";
  color: white;
}
.empleado h1 {
  color: blue;
  font-family: "montserrat";
  text-align: center;
}

.opinionesSeccion {
  grid-column: 1 / -1; /* Ocupa todas las columnas disponibles */
}
.opinionesSeccion h3{
  text-align: center;
  color: chartreuse;
}
.opinionesSeccion h4{
  color: rgb(240, 12, 209);
  font-family: "montserrat";
}
.opinionesSeccion p {
  border: 2px solid aqua; 
  border-radius: 10px; 
  padding: 10px; 
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgba(129, 14, 14, 0.705);
  font-family: "montserrat";
}


/*SECCION ESTADISTICAS DE CONTACTO
Utilizando la librería D3 https://youtu.be/GlokNJepshc?si=ET4RBcZ5vwLOYMpP
DATA DRIVEN DOCUMENT*/
.estadisticas h1{
  text-align: center;
  color: brown;
}
.estadisticas h3 {
  text-align: center;
  color: rgba(255, 94, 0, 0.705);
}

.estadisticas p {
  text-align: center;
  color: rgb(255, 255, 255);
}

