
html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(31, 31, 31) ;
}

body{
  background-color:rgb(31, 31, 31);
}

/*----------------------- SECCION FUENTES--------------------------- */

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Medium.ttf);
  font-weight: 700;
  font-style:normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
  font-weight: 800;
  font-style:normal;
}
@font-face{
  font-family: 'montserrat';
  src: url(../fonts/montserrat/Montserrat-Italic.ttf);
  font-weight:400;
  font-style: italic; 
}

/* ------------------------FIN DE SECCION DE FUENTES-------------*/

/*------------------------SECCION ANIMACIONES----------------------*/

@keyframes desaparecer{
  0%{
    display: block;
    opacity: 1;

  }
  50%{
    display: block;
    opacity: 0.5;

  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes aparecer{
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    display: none;
    opacity: 0.5;
  }
  100%{
    display: block;
    opacity: 1;
  }
}








/*------------------------FIN DE SECCION DE ANIMACIONES-------------*/

/*----------------------- SECCION ESTILOS PAGINA PRINCIPAL--------------------------- */


    a{
      text-decoration: none;
    }

    .estructuraPrincipal {
        display: grid;  
        grid-template-rows: 300px 100px 2fr 2fr 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px;
        height: 100%;
    }


 /* ESTILOS PARA EL CONTENIDO DE HEADER */


  .header {

        /* configuracion del grid */
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;
        /*------------------------*/

        padding: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
  }

  .header::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: url(../img/fondos/fondoOp2.jpeg) fixed;
          filter: grayscale(100%) blur(3px);
          width: 100%;
          height: 100%;
          z-index: -10;
  }

      .fnc{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        color: rgb(228, 3, 61);
        font-size: 100px;
      }

  .n{
      color: white;
      z-index: -5;
      position: absolute;
      font-size: 300px;
  }
  .header h1{
      letter-spacing: 10px;
      margin: 10px;
      font-family:'montserrat';
      font-weight: bold;
      font-style: bold;
      z-index: -1;
  }

  .header h2{
      margin: 30px;
      font-size: 25px;
      color: rgb(228, 3, 61);
      text-align: center;
      font-family:'montserrat';
      font-weight: 700;
      font-style: normal;
      background: rgb(0, 0, 0,0.3) ;
    }


/* FIN DE: ESTILOS PARA EL CONTENIDO DE HEADER */

 



/* ESTILOS PARA EL CONTENIDO DE bNavegacion */

  .bNavegacion {

        /* configuracion del grid */
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 6;
        /*------------------------*/

      width: 100%;
        height: 100%;
      position: sticky;
      top: 0;
      z-index: 10;
      box-shadow: 5px 5px 5px 5px;
      background: url(../img/fondos/fondoOp2.jpeg) fixed;
      border: 2px solid black;
      align-content: center;
      display: flex;
      justify-content: center;
      align-items: center;


  }
  .bNavegacion::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgb(255, 0, 67,0.3) ;
  }


  nav ul {
    display: flex;
    align-self:center;
  }
  nav ul li {
    list-style: none;
    position: relative;
    padding: 5px;
  }
  nav ul li a {
    font-family: 'montserrat';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    padding: 15px;
    line-height: 5rem;
    color: white;
    text-decoration: none;
  }
  .despegable ul {
    display: none;
    position: absolute;
    width: 100%;
  }
  .links ul li:hover ul {
    display: block;
  }
  .despegable ul li {
    width: 100%;
  }
  .despegable ul li a {
    padding: 10px;
    line-height: unset;
    white-space: nowrap;
    width: 100%;
  }
  .despegable:hover {
    transform: scale(1.02);
    z-index: 4;
    transition: all 0.2s;
    box-shadow: 2px 2px 2px 2px rgb(31, 31, 31, 0.6);
    background: rgb(0, 0, 0, 0.3);
  }


/* FIN DE: ESTILOS PARA EL CONTENIDO DE bNavegacion */






/* ESTILOS PARA EL CONTENIDO DE cuerpo */

  .cuerpo {
    
      /* configuracion del grid */
      grid-row-start: 3;
      grid-column-start: 1;
      grid-row-end: 5;
      grid-column-end: 6;
      row-gap: 10px;
      /*------------------------*/

      position: relative;
      display: grid;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 300px;
  }
  
  .cuerpo::before {
    position: absolute;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: -10;
    filter: blur(4px) saturate(0.7);

    background: url(../img/fondos/fondoOp2.jpeg) fixed;
  }
  .espacioFondo{
    background-color: rgb(0, 0, 0,0.5);
    margin: 5px;

  }
  h4{
    text-align: center;
    font-family:'montserrat';
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color:white;
  }
  .separador{
    padding: 5px;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0,0.8);
  }

  .espacioCine{
    display: flex;
  }
  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .slider ul {
    padding: 0%;
    display: flex;
    width: 600%;
    text-align: center;
    border-bottom: 10px;

    animation: cambio 20s infinite;
    animation-direction: alternate;
  }

  .slider li {
    width: 100%;
    list-style: none;
  }

  .slider img {
    object-fit: fill;
    width: 50%;
    height: 100%;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
  
  }
  li{
    list-style: none;
  }

  @keyframes cambio {
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -100%;}
    70% {margin-left: -200%;}

    75% {margin-left: -200%;}
    100% {margin-left: -200%;}

  }

  .textoDescriptivo{
      background-color: rgb(0, 0, 0,0.5);
      width: 100%;

  }


  .cuerpo .espacioTopPeliculas{
      display: flex;
      justify-content:center; 
      align-items:center; 
      flex-direction: row; 
      flex-wrap: nowrap; 
      align-content: flex-start;
      flex-grow: 0;
      position: relative;
      width: 100%;
      height: 100%;
  }
  .cuerpo .espacioTopPeliculas::before{
    display: flex;
    justify-content:center; 
    align-items:flex-start; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: flex-start;
    flex-grow: 0;
    position: relative;
  }


  .espacioTopPeliculas  div{
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
  }

  .espacioTopPeliculas > :nth-child(odd){
    position: relative;
    top: 150px;
    left: 50px;
    z-index: 2;
  }
  .espacioTopPeliculas > :nth-child(even){
    padding: 40px;
  }

  .espacioTopPeliculas  div img{
      object-fit: fill;
      width: 100%;
      height: 100%;
      box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
  }

  .cuerpo h1{
      color:white ;
      text-align: center;
      font-size: 40px;
      font-family:'montserrat';
      font-weight: 800;
      font-style: normal;
  }

/* FIN DE: ESTILOS PARA EL CONTENIDO DE bNavegacion */



/*ESTILOS PARA EL CONTENIDO DE FOOTER*/

  .piePagina {
      background-color: rgb(19, 19, 19); 
      grid-row-start: 5;
      grid-column-start: 1;
      grid-row-end: 6;
      grid-column-end: 6;
      position: relative;
      display: flex;
      justify-content:center;
      width: 100%;
      height: 100%;
  }
  .piePagina section{
    margin: 30px;
  }

  .cc{
    width: 200px;
    margin: 0;
    height: auto;
  }

  .piePagina ul{
    list-style: none;
  }

  h5{
    font-family: 'montserrat';
    font-weight:400 ;
    font-style: italic;
  }

  .piePagina a{
    color: rgb(255, 255, 255,0.5);
  }
  .piePagina a:hover{
    color: rgb(255, 255, 255,1);
    transition: 50ms;
  }
  .piePagina section img{
    object-fit: fill;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0,0.8);
  }
  .iconosSocial{
    width: 50px;
  }

/*FIN DE LOS ESTILOS PARA EL CONTENIDO DE FOOTER*/




/*------------------FIN DE LOS ESTILOS PARA EL CONTENIDO DE LA PÁGINA PRINCIPAL-----------------------------*/





/*------------------ SECCION ESTILOS PAGINAS PELICULAS,DIRECTORES,PRODUCTORES,ACTORES-------------------- */

  .estructuraPDPA {
    display: grid;  
    grid-template-rows:200px 100px ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
  }

  /*ESTILOS PARA EL CONTENIDO DE headerPDPA*/

    .headerPDPA {

      /* configuracion del grid */
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 6;
      /*------------------------*/

      padding: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .headerPDPA::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: url(../img/fondos/fondoOp2.jpeg) fixed;
        filter: grayscale(100%) blur(3px);
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    .fncPDPA{
    display: flex;
    justify-content: left;
    flex-direction: row; 
    color: rgb(228, 3, 61);
    filter: blur(1px);
    font-size: 100px;
    }

    .nPDPA{
    color: white;
    z-index: -5;
    position: absolute;
    font-size: 150px;
    left: 0.3em;
    }

    .headerPDPA h1{
    letter-spacing: 10px;
    margin: 10px;
    font-family:'montserrat';
    font-weight: bold;
    font-style: bold;
    z-index: -1;
    }

    .headerPDPA h2{
    margin: 30px;
    font-size: 25px;
    color: rgb(228, 3, 61);
    text-align: center;
    font-family:'montserrat';
    font-weight: 700;
    font-style: normal;
    }

  /*FIN DE LOS ESTILOS PARA EL CONTENIDO DE headerPDPA*/

  .cuerpoPDPA{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    
    grid-template-columns: 4fr;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: start;
    grid-auto-flow: row; 
    margin: auto;
    gap: 15px;
  }
.gridPeliculas{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  .filtros{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 35px 10px;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
  }

  .filtros *{
    margin:5px ;
  }
  .masFiltros{
    cursor: pointer;
    transition: 2s;

  }
  .menosFiltros{
    display: none;
    cursor: pointer;
    transition: 2s;
  }
  .filtrosBasicos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
  }

  .filtrosBasicosRemove{
    display: none;
  }
  .filtrosAvanzadosRemove{
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .filtros h5{
    font-size: 30px;
    font-family:'montserrat';
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: white;
  }
  #botonGeneros{
    color: black;
  }
  
  .filtros h2{
    font-size: 25px;
    font-family:'montserrat';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background: rgb(255, 255, 255,0.5);
    padding: 10px;
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 27px;
  }
  .filtros h2:hover{
    animation: 1s breath linear 1 normal none;
  }

  .filtrosAvanzados{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
  }
  .generoContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
  }
  
  .listaGeneros li{
    opacity: 1;
    font-size: 15px;
    font-family:'montserrat';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
    background: rgb(255, 255, 255,0.5) ;
    width: 100%;
    cursor: pointer;
  }
  .listaGeneros li:hover{
    animation: 1s breath linear 1  normal none ;
  }

  @keyframes breath {
		0% {
			transform:translateX(0%);
			transform-origin:50% 50%;
		}
		15% {
			transform:translateX(-30px) rotate(6deg);
		}
		30% {
			transform:translateX(15px) rotate(-6deg);
		}
		45% {
			transform:translateX(-15px) rotate(3.6deg);
		}
		60% {
			transform:translateX(9px) rotate(-2.4deg);
		}
		75% {
			transform:translateX(-6px) rotate(1.2deg);
		}
		100% {
			transform:translateX(0%);
			transform-origin:50% 50%;
		}
	}

  .listaGeneros{
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 
  .listaGenerosDesglose{
    animation: 3s desglose ease-in forwards ;
  }
  .listaGenerosEnglosar{
    animation: 3s englosar ease-out forwards ;

  }

  @keyframes desglose{
    0%{
      transform: translateX(0);
      transform: translateY(-1500px);
      opacity: 0;
    }
    25%{
      transform:translateY(-600px) ;
      opacity: 0.1;
    }
    50%{
      transform: translateY(-400px);
      opacity: 0.3;
    }
    75%{
      transform: translateY(-100px);
      opacity: 0.6;
    }
    100%{
      transform: translateY(0px);
      opacity: 0.8;
    }
  }
  @keyframes englosar{
    0%{
      transform: translateX(0);
      transform: translateY(0px);
      opacity: 0.8;
    }
    25%{
      transform:translateY(-300px) ;
      opacity: 0.6;
    }
    50%{
      transform: translateY(-600px);
      opacity: 0.3;
    }
    75%{
      transform: translateY(-800px);
      opacity: 0.1;
    }
    100%{
      transform: translateY(-1500px);
      opacity: 0;
    }
  }
    
  .generoContainer h5{
    padding: 20px;
    background: rgb(255, 255, 255,0.5) ;
    overflow: hidden;
    cursor: pointer;

  }
  input{
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-family:'montserrat';
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 5px;
  }

 
.contenedorPeliculas {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: 2s;
}

.contenedorPeliculas:hover::after{
  transition: 2s;
  opacity: 0;
}

.animacionFlip{
  transform: rotateY(180deg);
  transition: 2s;

}
.animacionDefault{
  transform: rotateY(0deg);
  transition: 2s;
}
/*
@keyframes posicionFlip {
  0% {
    display: block;
    opacity: 0;
    transform: rotateY(0deg);
  }
  50%{
    display: block;
    opacity: 0.5;
    transform: rotateY(90deg);
  }
  100% {
    display: block;
    opacity: 1;
    transform: rotateY(180deg);
  }

}
@keyframes posicionDefault {
  0%{
    display: block;
    opacity: 0;
    transform: rotateY(180deg);
  }
  50%{
    display: block;
    opacity: 0.5;
    transform: rotateY(90deg);
  }
  100%{
    display: block;
    opacity: 0;
    transform: rotateY(0deg);
  }
  
}
*/
.animacionDefault::after{
  color: white;
  content: "Ponga el raton sobre la tarjeta para ver la calificacion";
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0,0.7);
  bottom: 50px;
  font-family: 'montserrat';
  font-size: 400;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  opacity: 1;
}
.animacionDefault:hover::after{
  transition: 1s;
  opacity: 0;
}

.animacionDefault .overlayFlip{
  display: none;
  transition: 2s;
}
.animacionDefault .imgPeliculaActive{
  display: block;
  animation: 2s aparecer linear normal ;
}

.animacionDefault .imgPeliculaDetras{
  backface-visibility: hidden;
  animation: 0.5s desaparecer linear forwards;
}
.animacionFlip::after{
  color: white;
  content: "Ponga el raton sobre la tarjeta para ver información";
  position: absolute;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0,0.7);
  bottom: 50px;
  font-family: 'montserrat';
  font-size: 400;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  opacity: 1;
  transform: rotateY(180deg);
}

.animacionFlip:hover::after{
  transition: 1s;
  opacity: 0;
}


.animacionFlip .overlayDefault{
  display: none;
  opacity: 0;
  transition: 2s;
}
.animacionFlip .imgPeliculaActive{
  backface-visibility: hidden;
 animation: 0.5s desaparecer linear forwards;
}
.animacionFlip .imgPeliculaDetras{
  opacity: 1;
  animation: 1s aparecer linear normal ;
}


@keyframes aparecer{
  0%{
    display: block;
    opacity: 0;
  }
  50%{
    display: block;
    opacity: 0.5;
  }
  100%{
    display: block;
    opacity: 1;
  }

}
@keyframes desaparecer{
  0%{
    display:block;
    opacity: 1;
  }
  50%{
    display: block;
    opacity: 0.5;
  }
  100%{
    display: none;
    opacity: 0;
  }
}


.imgPeliculaFrontal {
  position: absolute;
  display: block;
    object-fit: fill;
    width: 100%;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
    transition: opacity 0.3s ease-in-out;
}

.imgPeliculaDetras{
  display: block;
  position: absolute;
  object-fit: fill;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0,0.8);
  transition: opacity 0.3s ease-in-out;
}
.imgPelicula{
  width: 100%;
  height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
}

.overlayDefault{
  transition: 4s;
  transform: rotateY(0deg);
}

.overlayFlip{
  transition: 4s;
  transform: rotateY(180deg);
}

.contenedorPeliculas:hover .overlay {
  transition: 2s;
  background-color: rgb(31, 31, 31,0.5);
}

.contenedorPeliculas:hover .overlay  *{
  transition: 2s;
  opacity: 1;
}
.contenedorPeliculas:hover .imgPeliculaActive {
  transition: 2s;
  opacity: 1;
  filter: blur(5px) grayscale(90%);
}
.contenedorPeliculas:hover .imgPeliculaActive {
  transition: 2s;
  opacity: 1;
}


.overlayFlip{
  position: absolute;
  transition: 2s;
  opacity: 0;
}

.contenedorPeliculas h1{
  color: white;
  font-size: 35px;
  font-family:'montserrat';
  font-weight:bold;
  font-style: bold;
  text-align: center;
  margin: 10px;
  position: relative;
  opacity: 0;
}
.contenedorPeliculas h2{
  color: white;
  font-size: 25px;
  font-family:'montserrat';
  font-weight:bold;
  font-style: normal;
  text-align: center;
  margin: 10px;
  position: relative;
  opacity: 0;
}
.contenedorPeliculas p{
  color: white;
  font-size: 12px;
  font-family:'montserrat';
  font-weight:400;
  font-style: normal;
  opacity: 0;
  margin: 5px;
  word-spacing: 2px;
}
.contenedorPeliculas h3{
  color: white;
  font-size: 12px;
  font-family:'montserrat';
  font-weight:700;
  font-style: normal;
  opacity: 0;
  margin: 5px;
  word-spacing: 2px;
}
.contenedorPeliculas h4{
  text-align: center;
  font-family:'montserrat';
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  color:white;
  opacity: 0;
}
.contenedorEstrellas{
  display: flex;
}
.estrellas{
  width: 100%;
  height: 100%;
}
.rating {
  display: flex;
  font-size: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}
.contenedorStars{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  opacity: 0;
}

.star {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../img/iconos/starVacia.png');
  background-size: cover;
  cursor: pointer;
}

.star:hover,
.star.active {
  background-image: url('../img/iconos/starllena.png');
}



/*ESTILOS PARA LA PAGINA DE PREMIOS */
.cuerpoPremios {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-column-end: 6;
  row-gap: 10px;
  /*------------------------*/
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-rows: auto;
  position: relative;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 300px;
  bottom: 0;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.cuerpoPremios::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: -10;
  filter: blur(4px) saturate(0.8);
  background: url(../img/fondos/fondoOp2.jpeg) fixed;
}
.goyaZoom{
  animation: zoom 3s linear ;
}
.goya{
  width: 500px;
  height: 100%;
  grid-column-start: 1;
}

.oscar{
  width: 563px;
  grid-column-start: 2;
  height: 100%;
  }

.oro{
  width: 592px;
  grid-column-start: 3;
  height: 100%;
}

.cuerpoPremios div img{
  width: 100%;
  object-fit: fill;
  position: relative;
}
.cuerpoPremios div h3 {
text-align: center;
font-family:"montserrat";
color: #fff;
}

/*ANIMACIONES PREMIOS*/
@keyframes zoom {
  0%{
    transform: scale(0);
  }
  25%{
    transform: scale(2);
  }
  50%{
    transform: scale(2.5);
  }
  100%{
    transform: scale(4);
  }
}

/*------------------ FIN DE LOS ESTILOS PAGINAS PELICULAS,DIRECTORES,PRODUCTORES,ACTORES-------------------- */
